@tailwind base;
@tailwind components;
@tailwind utilities;


.tabs{
    border-radius:20px 20px 0 0;
padding:1em;
} 
.tabs.active{
    border-bottom:#6278EF solid ;
}



.tabs-content{
display:none;
    background-color:aqua;
}

.tabs-content.active{
    padding:2em;
    display:block;
    background-color: white;
}

